  <% if @name %>
  <h1>My name is <%= @name %> </h1>
    <% end %>
      <div style='border: 15px dashed pink'>
        <img src='https://pbs.twimg.com/profile_images/681163605463707648/rTTf_0Xy.jpg'>
      </div>
